In [51]:
import pandas as pd

In [52]:
location_df = pd.read_csv("location_data_jam_location_data_09252022_raw.csv")

In [53]:
location_df.head()

,user_email,user_name,latitude,longitude,charging_status,charging_type,bluetooth_device_type,bluetooth_status,activity,wifi_status,timestamp_long,timestamp
0,nlokesh@tamu.edu,Lokesh Narravula,30.611450,-96.350088,Disharging,Charging:\nunplugged,UNCATEGORIZED,On,unknown,"Wifi:\n""TAMU_WiFi""",1663374930742,2022-09-16T19:35:30.741-05:00
1,nlokesh@tamu.edu,Lokesh Narravula,30.611450,-96.350088,Disharging,Charging:\nunplugged,UNCATEGORIZED,On,unknown,"Wifi:\n""TAMU_WiFi""",1663375129353,2022-09-16T19:38:49.351-05:00
2,nlokesh@tamu.edu,Lokesh Narravula,30.611450,-96.350088,Disharging,Charging:\nunplugged,UNCATEGORIZED,On,unknown,"Wifi:\n""TAMU_WiFi""",1663375006579,2022-09-16T19:36:46.577-05:00
3,nlokesh@tamu.edu,Lokesh Narravula,30.591326,-96.340896,Charging,Charging:\nbattery_plugged_ac,UNCATEGORIZED,On,unknown,"Wifi:\n""5G The London""",1663449273446,2022-09-17T16:14:33.442-05:00
4,nlokesh@tamu.edu,Lokesh Narravula,30.591326,-96.340896,Charging,Charging:\nbattery_plugged_ac,UNCATEGORIZED,On,unknown,"Wifi:\n""5G The London""",1663449202652,2022-09-17T16:13:22.651-05:00

In [4]:
def change_user_email(email, user_email_map):
    return user_email_map[email]

In [5]:
def map_user_email_mask(user_email):
    unique_user_email = list(set(user_email))
    unique_user_email.sort()
    user_email_map = dict()
    k = 1
    for email in unique_user_email:
        user_email_map[email] = "user_" + str(k)
        k += 1
    return user_email_map

In [6]:
user_email_map = map_user_email_mask(location_df["user_email"])

In [7]:
user_email_map

{'33pinaki@gmail.com': 'user_1',
 'abhishekhrs0802@gmail.com': 'user_2',
 'anjan.behera123@gmail.com': 'user_3',
 'durgap2394@gmail.com': 'user_4',
 'hometv.pawan@gmail.com': 'user_5',
 'kleottmembership@gmail.com': 'user_6',
 'naveengokarn@gmail.com': 'user_7',
 'nehakawane_28@tamu.edu': 'user_8',
 'nickbieber54@gmail.com': 'user_9',
 'nlokesh@tamu.edu': 'user_10',
 'rajeshsatpathy@tamu.edu': 'user_11',
 'ravikantbhardwaj@tamu.edu': 'user_12',
 'rosyrose15@gmail.com': 'user_13',
 'sanjaynayakcs@gmail.com': 'user_14',
 'sanjaysiku16@gmail.com': 'user_15',
 'shivi96sd@gmail.com': 'user_16',
 'sidsjustice@gmail.com': 'user_17',
 'sruti.patnaik15@gmail.com': 'user_18',
 'tusharbleeds@gmail.com': 'user_19',
 'vaidhyesh1@gmail.com': 'user_20',
 'vinayakjoshi159895@gmail.com': 'user_21',
 'vipulpatil9167@gmail.com': 'user_22',
 'yshah5115@gmail.com': 'user_23'}

In [56]:
location_df.drop("user_name", axis=1, inplace=True)

In [54]:
location_df["user_email"] = location_df["user_email"].apply(lambda x: change_user_email(x, user_email_map))

In [57]:
location_df.head()

,user_email,latitude,longitude,charging_status,charging_type,bluetooth_device_type,bluetooth_status,activity,wifi_status,timestamp_long,timestamp
0,user_10,30.611450,-96.350088,Disharging,Charging:\nunplugged,UNCATEGORIZED,On,unknown,"Wifi:\n""TAMU_WiFi""",1663374930742,2022-09-16T19:35:30.741-05:00
1,user_10,30.611450,-96.350088,Disharging,Charging:\nunplugged,UNCATEGORIZED,On,unknown,"Wifi:\n""TAMU_WiFi""",1663375129353,2022-09-16T19:38:49.351-05:00
2,user_10,30.611450,-96.350088,Disharging,Charging:\nunplugged,UNCATEGORIZED,On,unknown,"Wifi:\n""TAMU_WiFi""",1663375006579,2022-09-16T19:36:46.577-05:00
3,user_10,30.591326,-96.340896,Charging,Charging:\nbattery_plugged_ac,UNCATEGORIZED,On,unknown,"Wifi:\n""5G The London""",1663449273446,2022-09-17T16:14:33.442-05:00
4,user_10,30.591326,-96.340896,Charging,Charging:\nbattery_plugged_ac,UNCATEGORIZED,On,unknown,"Wifi:\n""5G The London""",1663449202652,2022-09-17T16:13:22.651-05:00

In [48]:
# location_df.drop("user_email", axis=1, inplace=True)
# location_df.rename(columns={"user_email_mask": "user_email"}, inplace=True)

In [70]:
location_df["wifi_status"] = location_df["wifi_status"].apply(lambda x: str(x).replace("\n", "").replace('"', ""))
location_df["charging_type"] = location_df["charging_type"].apply(lambda x: str(x).replace("\n", "").replace('"', ""))

In [62]:
location_df.rename(columns={"user_email": "user"}, inplace=True)

In [74]:
location_df.shape

(139728, 11)

In [81]:
location_df = location_df[(location_df["latitude"]!= 0.0)]
location_df = location_df[~location_df["charging_status"].isna()]

In [87]:
location_df.shape

(139722, 11)

In [90]:
location_df["latitude"] = location_df["latitude"].apply(lambda x: round(x, 7))
location_df["longitude"] = location_df["longitude"].apply(lambda x: round(x, 7))

In [93]:
location_df.to_csv("data_location.csv", index=False)

In [ ]:
import pandas as pd
from google.cloud import bigquery, storage
import io

BUCKET_NAME = "tamu-thesis-data-09252022"
DATA_LOCATION_PATH = "location_data/jam_location_data_09252022.csv"
DATASET_ID = "tamu-thesis-sn.thesis_data_analysis"

def change_user_email(email, user_email_map):
    return user_email_map[email]

def map_user_email_mask(user_email):
    unique_user_email = list(set(user_email))
    unique_user_email.sort()
    user_email_map = dict()
    k = 1
    for email in unique_user_email:
        user_email_map[email] = "user_" + str(k)
        k += 1
    return user_email_map

def main(request):
    # get the csv data into pandas dataframe
    storage_client = storage.Client()
    bucket = storage_client.bucket(BUCKET_NAME)
    blob = bucket.blob(DATA_LOCATION_PATH)
    data = blob.download_as_bytes()
    location_df = pd.read_csv(io.BytesIO(data))

    # Process, clean and mask the data
    # get the user email map
    user_email_map = map_user_email_mask(location_df["user_email"])
    # remove `user_name` column
    location_df.drop("user_name", axis=1, inplace=True)
    location_df["user_email"] = location_df["user_email"].apply(lambda x: change_user_email(x, user_email_map))
    # clean the `wifi_status`, `charging_type` column data
    location_df["wifi_status"] = location_df["wifi_status"].apply(lambda x: str(x).replace("\n", "").replace('"', ""))
    location_df["charging_type"] = location_df["charging_type"].apply(lambda x: str(x).replace("\n", "").replace('"', ""))
    # remove null values from latitude, longitude, charging_type columns
    location_df = location_df[(location_df["latitude"]!= 0.0)]
    location_df = location_df[~location_df["charging_status"].isna()]

    # load the data into biquery
    bq_client = bigquery.Client()
    dataset = bq_client.dataset(DATASET_ID)
    table_ref = dataset.table("data_location")
    load_job = client.load_table_from_dataframe(location_df, table_ref)
    load_job.result()

requirements.txt for google cloud functions - 
numpy
pandas
google-cloud-storage
google-cloud-bigquery